.header {
  margin-top: 28px;
  height: 110px;
  border-bottom: 1px solid #cecece;
  background: linear-gradient(0deg, #ebebeb 0%, #fff 90%, #fff 100%);
  &__container {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-left: 12px;
  }
}
